<div class = "loginbox module">
<!-- <h3>Sign In</h3>
<p>In order to use the system you have to sign in.</p> -->
<form name="login" class="login" action="/" method="post">
	<fieldset class="clearfix">
		
		<p>
			<span class="fontawesome-user"></span>
			<input type="text" name="user" value="Username" required/>
		</p>
		<p>
			<span class="fontawesome-lock"></span>
			<input type="password" name="pass" value="Password" required/>
		</p>
		<p>
			<input type="submit" name="loginBtn" class="loginBtn" value="Sign In" />
		</p>
	</fieldset>
</form>
</div>