head
	|<style type="text/css">
	include ./../public/stylesheets/style.css
	|</style>
if user
	include ./work.jade
else
	div(class="loginbox")
		form(name="login", action="/users", method="post")
			input(type="text", name="user")
			input(type="password", name="pass")
			input(type="submit", value="Вписване")