- var user = {name: 'mitko', Twitter: 'mmmeee', blog: 'michurin'}
if user
	include ./work.jade
else
	div(class="loginbox")
		form(name="login", action="/users", method="post")
			input(type="text", name="user")
			input(type="password", name="pass")
			input(type="submit", value="Log in")