script(type='text/javascript' src='http://code.jquery.com/jquery.min.js')
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/socket.io/socket.io.js')
script.
	var socket = io("http://localhost:3010");
	var dataCollection = [];
	socket.on('newData', function (data) {
	
		console.log("lol",data);
		var resultTable = document.getElementById('testResultsTable');
					
		resultTable.innerHTML = "<tr><th>Потребител</th><th>IP адрес</th><th>Заявка</th><th>Статус на изпращача</th><th>Резултат</th></tr>";

		console.log(data, typeof data);
		var response = data;

		dataCollection.push(response);

		if (dataCollection.length > 30) {
			dataCollection.shift();
		}
		
		for(var i = dataCollection.length - 1; i >= 0; i--){
			var tableRow = "",
				td = "";

				if (dataCollection[i].rating == 1) {
					if (dataCollection[i].result == "Blind SQL Injection Anomaly Detected.") {
						td = "</td><td class='redAlert'>";
					} else {
						td = "</td><td class='yellowAlert'>";
					}
				} else {
					td = "</td><td class='greenAlert'>";
				}

				var length = -1;

				if (dataCollection[i].result != "Blind SQL Injection Anomaly Detected.") {
					length = dataCollection[i].result.length;
				}

				tableRow += "<tr>" + td;
				tableRow +=
				dataCollection[i].username +
				"</td>" + td +
				dataCollection[i].IP +
				"</td>" +  td +
				dataCollection[i].query +
				"</td>" + td + 
				dataCollection[i].rating +
				"</td>" + td + 
				(length > -1? '[' + length + ']': dataCollection[i].result) + "</td></tr>";
			$('#testResultsTable').append(tableRow);
		}

		socket.emit('my other event', { my: 'data' });
	});
	$(document).ready(function() {
		$("input[name=testButton]").click( function() {
		$.ajax( {
				type: "GET",
				url: '/tool/track',
				dataType : "json",
				success: function( response ) {
					if (response) {
						$("input[name=testButton]")[0].value = "Untrack";
					} else {
						$("input[name=testButton]")[0].value = "Track";
					}
				},
				error: function(err) {
					console.log("ERRor");
					alert("ERRor");
				}
			});
		} );

		$("input[name=configButton]").click( function() {
			document.location = "config";
		} );
	})
//- script(type='text/javascript' src='http://code.jquery.com/jquery.min.js')
//- script(src='/socket.io/socket.io.js')
block content
	h1 Добре дошли в Security Traffic Analyzer
	p Ако искате да започнете анализиране на трафика към сървъра, натиснете Track. В случай, че искате да го спрете - натиснете Стоп. Ако искате да прибавите ключови думи можете да го направите през конфигурационния интерфейс, който ще отворите като натиснете Edit Config.
div(name="IBANSearch", method="post")
	input(type="button", name="testButton", value="Track")
	input(type="button", name="configButton", value="Edit Config")
table(id="testResultsTable")
	tr
		th Потребител
		th IP адрес
		th Заявка
		th Статус на изпращача
		th Резултат