script(type='text/javascript' src='http://code.jquery.com/jquery.min.js')
script.
	$( document ).ready(function() {
		console.log('We are the heroes.');
		$("input[type=submit]").click( function() {
			//- console.log($("input[name=iban]").value);
			var iban = document.getElementsByName('iban')[0].value;
			$.ajax( {
				type: "POST",
				url: '/bank',
				data: {iban: iban},
				success: function( response ) {
				}
			});
			return false;
		});
	});
div(name="IBANSearch", method="post")
	input(type="text", name="iban")
	input(type="submit", value="SEARCH")
table
	tr
		th Bank
		th IBAN
		th Withdraw
	each val, index in ['zero', 'one', 'two']
		tr
			td= val
			td= index
			td 1
